<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>{{ ansible_host }}</name>
  <description>&quot;jenkins static slave&quot;</description>
  <remoteFS>/home/{{ ansible_ssh_user }}</remoteFS>
  <numExecutors>{{ num_executors }}</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.31.1">
    <host>{{ ansible_host }}</host>
    <port>{{ ssh_port }}</port>
    <credentialsId>{{ credentials_id }}</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>{{ jenkins_slave_label }}</label>
  <nodeProperties/>
</slave>
