# config file for ansible -- https://ansible.com/
# ===============================================

# nearly all parameters can be overridden in ansible-playbook
# or with command line flags. ansible will read ANSIBLE_CONFIG,
# ansible.cfg in the current working directory, .ansible.cfg in
# the home directory or /etc/ansible/ansible.cfg, whichever it
# finds first

[defaults]
# additional paths to search for roles in, colon separated
roles_path    = roles

# uncomment this to disable SSH key host checking
host_key_checking = False

[ssh_connection]
ssh_args = -F custom_ssh.cfg -o ControlMaster=auto -o ControlPersist=30m
#ssh_args = -i ../jenkins.pem -F custom_ssh.cfg -o ControlMaster=auto -o ControlPersist=30m
control_path = ~/.ssh/ansible-%%r@%%h:%%p
scp_if_ssh = True
